<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uk.co.soft_work.crap" android:versionName="0.1" android:installLocation="auto" android:versionCode="0">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-feature android:name="android.hardware.camera2.full" />
	<application android:label="@string/ApplicationName"></application>
	<!--application android:largeHeap="true"></application>
  <application android:hardwareAccelerated="true"></application-->
</manifest>